/*INDEX
1. Scrollbar
2. Navbar
3. Gallery
4. About
*/ 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /*COLORS*/
  --primary-backcolor: #F84312;
  --gradient-color: linear-gradient(-224deg, #1c99FE 20.69%, #7644FF 50.19%,var(--primary-backcolor) 79.69%);
  --grey-color: #808080;
  --bg-dark: #091020;
  /*TEXT COLOR*/
  --primary-font: 'Oswald', sans-serif;
  --primary-text: #2b54d9;
  --text-grey: #C0C0C0;
  --text-white: #ffff;
  --text-banner: #F84312;  
}

h1{
  font-size: 54px;
  line-height: 68px;
  font-weight: 800;
  color:var(--text-white);
  margin-bottom: 20px;
}
h1 span{
  color:var(--primary-backcolor);
}
h2{
  font-size: 50px;
  line-height: 1.3;
  font-weight: 600;
  color: #7644ff;
  margin-bottom: 15px;
}
h3{
  font-size: 20px;
  font-weight: 600;
  color:var(--text-grey);
  margin-bottom: 20px;
}
h4{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 600;
  color:#0563fb;
  margin-bottom: 19px;
}
h5{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 600;
  color:(--text-grey);
  margin-bottom: 19px;
}
h6{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 600;
  color:#7644FF;
  margin-bottom: 19px;
}
p{
  color:var(--text-grey);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
}
.subtitle{
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 28px;
  margin-bottom: 12px;
  background:var(--gradient-color);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
body {
  background: #002436;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
 
/*Navbar!!*/
 
 .navbar-brand{
  
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    margin: 0px;
  
}
.header_wrapper .navbar{
  padding:15px 0;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  margin-right: 5px;

}
.header_wrapper .navbar-brand img{
  height:auto;
}
.header_wrapper .navbar-toggler{
  border:0;
  line-height: 6px;
  color:#ffff;
}
.header_wrapper .nav-item{
  margin: 0 20px;
}
.header_wrapper .nav-item .nav-link{
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-grey);
  display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
  position:absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background: #2b54d9;
  transition: 0.3s;
  bottom:0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
  width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
  color: var(--text-white);
}
.header-scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#000000;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
  box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
  color: var(--primary-text);
}
/*Gallery*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
.cont__inner {
  position: relative;
  height: 100%;
}
.cont__inner:hover .el__bg:after {
  opacity: 1;
}
.el {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #252525;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  will-change: transform, width, opacity;
}
.el:not(.s--active) {
  cursor: pointer;
}
.el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 1s;
}
.cont.s--inactive .el__inner {
  transform: translate3d(0, 100%, 0);
}
.el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  transition: transform 0.6s 0.7s;
  will-change: transform;
}
.el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  transition: transform 1s;
  transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .el__bg:before {
  transform: translate3d(0, -100%, 0) scale(1.2);
}
.el.s--active .el__bg:before {
  transition: transform 0.8s;
}
.el__bg:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
}
.cont.s--el-active .el__bg:after {
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.el__preview-cont {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 1.2s;
}
.cont.s--inactive .el__preview-cont {
  opacity: 0;
  transform: translateY(10px);
}
.cont.s--el-active .el__preview-cont {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s;
}
.el__heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.el__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s;
}
.el.s--active .el__content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 1.4s;
}
.el__text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
.el__close-btn {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.el.s--active .el__close-btn {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s 1.4s;
}
.el__close-btn:before, .el__close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
  opacity: 1;
}
.el__close-btn:before {
  transform: rotate(45deg) translateX(100%);
}
.el.s--active .el__close-btn:before {
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(45deg) translateX(0);
}
.el__close-btn:after {
  transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el__close-btn:after {
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transform: rotate(-45deg) translateX(0);
}
.el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  font-weight: bold;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transform: translate3d(0, 1vw, 0);
}
.el:hover .el__index {
  transform: translate3d(0, 0, 0);
}
.cont.s--el-active .el__index {
  transition: transform 0.5s, opacity 0.3s;
  opacity: 0;
}
.el__index-back, .el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.el__index-back {
  color: #2f3840;
  opacity: 0;
  transition: opacity 0.25s 0.25s;
}
.el:hover .el__index-back {
  transition: opacity 0.25s;
  opacity: 1;
}
.el__index-overlay {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s 0.1s;
  color: transparent;
}
.el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.5s 0.1s;
}
.el:hover .el__index-overlay {
  transform: translate3d(0, 0, 0);
}
.el:hover .el__index-overlay:before {
  transform: translate3d(0, 0, 0);
}
.el:nth-child(1) {
  transform: translate3d(0%, 0, 0);
  transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
  transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(1) .el__inner {
  transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
  transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
  transition-delay: 0s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}
.el:nth-child(2) {
  transform: translate3d(105.2083333333%, 0, 0);
  transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
  transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(2) .el__inner {
  transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
  transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
  transition-delay: 0.1s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}
.el:nth-child(3) {
  transform: translate3d(210.4166666667%, 0, 0);
  transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
  transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(3) .el__inner {
  transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
  transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
  transition-delay: 0.2s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}
.el:nth-child(4) {
  transform: translate3d(315.625%, 0, 0);
  transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
  transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(4) .el__inner {
  transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
  transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
  transition-delay: 0.3s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}
.el:nth-child(5) {
  transform: translate3d(420.8333333333%, 0, 0);
  transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
  transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(5) .el__inner {
  transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
  transform: translate3d(-76.8%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
  transition-delay: 0.4s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg");
}
.el:hover .el__bg:after {
  opacity: 0;
}
.el.s--active {
  z-index: 1;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.el.s--active .el__bg {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s;
}
.el.s--active .el__bg:before {
  transition-delay: 0.6s;
  transform: scale(1.1);
}
.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}
.gallery_wrapper{
  background: #002436;
}


/*About*/
.about_wrapper{
  background: #002436;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 3240px;
}


.container{
  position: relative;
  margin-top: 100px;
}
/*card & Info 1*/
.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  right: 300px;
  top: 4%;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

#Rectangle_2 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  left: 480px;
  top: 12%;
}
.Rectangle_2 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1129px;
  height: 552px;
  left: 480px;
  top: 12%;
}
#What_is_a_paragraph_Paragraphs {
  left: 490px;
  top: 12%;
  position: absolute;
  overflow: visible;
  width: 1094px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(192,192,192,1);
}



/*Card & Info2*/

.container #Rectangle_3 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.container .Rectangle_3 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1129px;
  height: 552px;
  right: 475px;
	top: 34%;
}

.container #Paragraphs_2 {
  right: 495px;
	top: 34.5%;
  position: absolute;
  overflow: visible;
  width: 1094px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(192,192,192,1);
}

.container .card2{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  left: 1270px;
  top: 11.9%;
}

.container .card2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card2:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card2:after{
  content: 'IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card2 .imgBx2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card2:hover .imgBx2{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card2 .imgBx2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card2 .contentBx2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card2:hover .contentBx2{
  height: 210px;
}

.container .card2 .contentBx2 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card2 .contentBx2 .size, .container .card2 .contentBx2 .color2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card2:hover .contentBx2 .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card2:hover .contentBx2 .color2{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card2 .contentBx2 .size h3, .container .card2 .contentBx2 .color2 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card2 .contentBx2 .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card2 .contentBx2 .size span:hover{
  background: #9bdc28;
}

.container .card2 .contentBx2 .color2 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card2 .contentBx2 .color2 span:nth-child(2){
  background: #9bdc28;
}

.container .card2 .contentBx2 .color2 span:nth-child(3){
  background: #03a9f4;
}

.container .card2 .contentBx2 .color2 span:nth-child(4){
  background: #e91e63;
}

.container .card2 .contentBx2 a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card2:hover .contentBx2 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}


/*Info & Card 3*/

.container .card3{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  top: 19.5%;
  right: 300px;
}

.container .card3:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card3:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card3:after{
  content: 'IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card3 .imgBx3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card3:hover .imgBx3{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card3 .imgBx3 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card3 .contentBx3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card3:hover .contentBx3{
  height: 210px;
}

.container .card3 .contentBx3 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card3 .contentBx .size3, .container .card3 .contentBx3 .color3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card3:hover .contentBx3 .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card3:hover .contentBx3 .color3{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card3 .contentBx3 .size h3, .container .card3 .contentBx3 .color3 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card3 .contentBx3 .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card3 .contentBx3 .size span:hover{
  background: #9bdc28;
}

.container .card3 .contentBx3 .color3 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card3 .contentBx3 .color3 span:nth-child(2){
  background: #9bdc28;
}

.container .card3 .contentBx3 .color3 span:nth-child(3){
  background: #03a9f4;
}

.container .card3 .contentBx3 .color3 span:nth-child(4){
  background: #e91e63;
}

.container .card3 .contentBx3 a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card3:hover .contentBx3 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
#Rectangle_4 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  height: 552px;
}
.Rectangle_4 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1129px;
  height: 552px;
  left: 515px;
  top: 55%;
}
#Paragraphs-3 {
  position: absolute;
  overflow: visible;
  width: 1083px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(192,192,192,1);
  left: 523px;
  top: 55.5%;
}

/*Info4  & Card4*/

.container .card4{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  top: 30%;
  left: 1300px;
}

.container .card4:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card4:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card4:after{
  content: 'IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card4 .imgBx4{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card4:hover .imgBx4{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card4 .imgBx4 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card4 .contentBx4{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card4:hover .contentBx4{
  height: 210px;
}

.container .card4 .contentBx4 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card4 .contentBx4 .size4, .container .card4 .contentBx4 .color4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card4:hover .contentBx4 .size4{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card4:hover .contentBx4 .color4{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card4 .contentBx4 .size4 h3, .container .card4 .contentBx4 .color4 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card4 .contentBx4 .size4 span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card4 .contentBx4 .size4 span:hover{
  background: #9bdc28;
}

.container .card4 .contentBx4 .color4 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card4 .contentBx4 .color4 span:nth-child(2){
  background: #9bdc28;
}

.container .card4 .contentBx4 .color4 span:nth-child(3){
  background: #03a9f4;
}

.container .card4 .contentBx4 .color4 span:nth-child(4){
  background: #e91e63;
}

.container .card4 .contentBx4 a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card4:hover .contentBx4 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
#Rectangle_5 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  height: 552px;
}
.Rectangle_5 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 1129px;
  height: 552px;
  right: 485px;
  top: 80%;
}
#Paragraphs-4 {
  position: absolute;
  overflow: visible;
  width: 1083px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(192,192,192,1);
  right: 515px;
  top: 80.5%;
}