/*INDEX
1. Scrollbar
2. Navbar
3. Gallery
4. About
*/ 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /*COLORS*/
  --primary-backcolor: #F84312;
  --gradient-color: linear-gradient(-224deg, #1c99FE 20.69%, #7644FF 50.19%,var(--primary-backcolor) 79.69%);
  --grey-color: #808080;
  --bg-dark: #091020;
  /*TEXT COLOR*/
  --primary-font: 'Oswald', sans-serif;
  --primary-text: #2b54d9;
  --text-grey: #C0C0C0;
  --text-white: #ffff;
  --text-banner: #F84312;  
}

h1{
  font-size: 54px;
  line-height: 68px;
  font-weight: 800;
  color:var(--text-white);
  margin-bottom: 20px;
}
h1 span{
  color:var(--primary-backcolor);
}
h2{
  font-size: 50px;
  line-height: 1.3;
  font-weight: 600;
  color: #7644ff;
  margin-bottom: 15px;
}
h3{
  font-size: 24px;
  font-weight: 600;
  color:#FFB41F;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 600;
  color:#0563fb;
  margin-bottom: 19px;
}
h5{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 4px;
  display: block;
  font-weight: 600;
  color:(--text-grey);
  margin-bottom: 19px;
}
h6{
  font-size: 15px;
  text-transform:uppercase;
  letter-spacing: 1px;
  display: block;
  font-weight: 600;
  color:#7644FF;
  margin-bottom: 19px;
}
p{
  color:var(--text-grey);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
}
.subtitle{
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 28px;
  margin-bottom: 12px;
  background:var(--gradient-color);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
body {
  background: #002436;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  min-width: 1080px;
}
 
/*Navbar!!*/
 
 .navbar-brand{
  
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    margin: 0px;
  
}
.header_wrapper .navbar{
  padding:15px 0;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  margin-right: 5px;

}
.header_wrapper .navbar-brand img{
  height:auto;
}
.header_wrapper .navbar-toggler{
  border:0;
  line-height: 6px;
  color:#ffff;
}
.header_wrapper .nav-item{
  margin: 0 20px;
}
.header_wrapper .nav-item .nav-link{
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-grey);
  display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
  position:absolute;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background: #2b54d9;
  transition: 0.3s;
  bottom:0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
  width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
  color: var(--text-white);
}
.header-scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#000000;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
  box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
  color: var(--primary-text);
}
.header_wrapper .nav-item .contact-button {
  display: inline-block;
  padding: 0 24px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.header_wrapper .nav-item .contact-button:hover {
  background-color: rgba(255,255,255,0.2);
}



/*Gallery*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

.gallery_wrapper{
  
  background-color: #002436;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
}
.snip1543 {
  background-color: #000;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  margin-left: 6rem;
  max-width: 470px;
  min-width: 230px;
  max-height: 530px;
  min-height: 260px;
  overflow: hidden;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-top: 200px;
  align-items:center;
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 150%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
@media screen and (max-width: 550px){
  .gallery_wrapper{
    grid-template-columns: 1fr;
    align-items: center;
  }
  .snip1543{
    width: 370px;
    height: 420px;
    margin-left: 25rem;
    }
}


/*About*/
  
.about_wrapper{
  background: #002436;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-height: 202.5rem;
  min-width: 67.5rem;
  margin-top: 2px;
  display: flex;
}

.container{
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 550px){
  p{
    font-size: 18px;
  }
}
/*card & Info 1*/
.container .card{
  position: relative;
  max-width: 19.2rem;
  height: 27rem;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  left: 0rem;
  top: 9rem;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#b50303;
  ;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: '.IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(12, 66, 131, 0.499)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: rgb(227, 12, 12);
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

#Rectangle_2 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  max-width: 67.74rem;
  max-height: 33.12rem;
  left: 24rem;
  top: 12%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition:transform 0.65s cubic-bezier(0.05,0.2, 0.1,1);
  box-shadow: 0.65s cubic-bezier(0.05,0.2, 0.1,1);
}
.Rectangle_2:hover{
  box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
  transform: translateY(-5px);
}
#What_is_a_paragraph_Paragraphs {
  left: 25rem;
  top: 12.5%;
  position: absolute;
  overflow: visible;
  max-width: 65.64rem;
  min-width: 30rem;
  min-height: auto;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(192,192,192,1);
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width:550px){
  .about_wrapper .container{
    align-items: center;
    height: 4130px;
  }
  .about_wrapper .container #Rectangle_2{
    width: 51rem;
    height: 25rem;
  }
  .about_wrapper .container .Rectangle_2{
    top: 50rem;
    left: 10%;

    
  }
  .about_wrapper .container #What_is_a_paragraph_Paragraphs{
    top: 51rem;
    left: 11%;
    font-size: 0.9rem;
    width: 22rem;
    text-align: justify;
  
  }
  .about_wrapper .container .card{
    left: 22rem;
    top: 4rem;
    width: 16rem;
    height: 24rem;
  }
  p{
    font-size: 14px;
  }
}



/*Card & Info2*/

.container #Rectangle_3 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.container .Rectangle_3 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  max-width: 67.74rem;
  max-height: 33.12rem;
  min-width: 21.25rem;
  min-height: 8.25rem;
  left: 24rem;
	top: 34%;
  display: flex;
  flex-wrap: wrap;
  transition:transform 0.65s cubic-bezier(0.05,0.2, 0.1,1);
  box-shadow: 0.65s cubic-bezier(0.05,0.2, 0.1,1);
}
.Rectangle_3:hover{
  box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
  transform: translateY(-5px)}

.container #Paragraphs_2 {
  left: 25rem;
	top: 34.5%;
  position: absolute;
  overflow: visible;
  max-width: 65.64rem;
  min-width: 30rem;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(192,192,192,1);
  display: flex;
  flex-wrap: wrap;
}

.container .card2{
  position: relative;
  max-width: 19.2rem;
  height: 27rem;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  left: 1rem;
  top: 26rem;
}

.container .card2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b50303;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card2:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card2:after{
  content: '.IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(12, 66, 131, 0.499);
}

.container .card2 .imgBx2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card2:hover .imgBx2{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card2 .imgBx2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.container .card2 .contentBx2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card2:hover .contentBx2{
  height: 210px;
}

.container .card2 .contentBx2 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card2 .contentBx2 .size, .container .card2 .contentBx2 .color2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card2:hover .contentBx2 .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card2:hover .contentBx2 .color2{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card2 .contentBx2 .size h3, .container .card2 .contentBx2 .color2 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card2 .contentBx2 .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card2 .contentBx2 .size span:hover{
  background: #9bdc28;
}

.container .card2 .contentBx2 .color2 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card2 .contentBx2 .color2 span:nth-child(2){
  background: #9bdc28;
}

.container .card2 .contentBx2 .color2 span:nth-child(3){
  background: #03a9f4;
}

.container .card2 .contentBx2 .color2 span:nth-child(4){
  background: #e91e63;
}

.container .card2 .contentBx2 a{
  display: inline-block;
  padding: 10px 20px;
  background: rgb(227, 12, 12);
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card2:hover .contentBx2 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
/* @media (max-width: 7px){
  .Rectangle_3{
   width: 21.25rem;
   height: 8.25rem;
  }
  #Paragraphs_2{
    width: 30rem;
    }
} */
@media screen and (max-width:550px){
  .about_wrapper .container #Rectangle_3{
    width: 51rem;
    height: 25rem;
  }
  .about_wrapper .container .Rectangle_3{
    top: 110rem;
    left: 10%;

    
  }
  .about_wrapper .container #Paragraphs_2{
    top:111rem;
    left: 11%;
    font-size: 0.9rem;
    width: 22rem;
    text-align: justify;
  
  }
  .about_wrapper .container .card2{
    left: 22rem;
    top: 36rem;
    margin-top: 50px;
    width: 16rem;
    height: 24rem;
  }
}

/*Info & Card 3*/

.container .card3{
  position: relative;
  max-width: 19.2rem;
  height: 27rem;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  top: 41rem;
  left: 1rem;
}

.container .card3:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b50303;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card3:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card3:after{
  content: '.IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color:rgba(12, 66, 131, 0.499);
}

.container .card3 .imgBx3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card3:hover .imgBx3{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card3 .imgBx3 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.container .card3 .contentBx3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card3:hover .contentBx3{
  height: 210px;
}

.container .card3 .contentBx3 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card3 .contentBx .size3, .container .card3 .contentBx3 .color3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card3:hover .contentBx3 .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card3:hover .contentBx3 .color3{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card3 .contentBx3 .size h3, .container .card3 .contentBx3 .color3 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card3 .contentBx3 .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card3 .contentBx3 .size span:hover{
  background: #9bdc28;
}

.container .card3 .contentBx3 .color3 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card3 .contentBx3 .color3 span:nth-child(2){
  background: #9bdc28;
}

.container .card3 .contentBx3 .color3 span:nth-child(3){
  background: #03a9f4;
}

.container .card3 .contentBx3 .color3 span:nth-child(4){
  background: #e91e63;
}

.container .card3 .contentBx3 a{
  display: inline-block;
  padding: 10px 20px;
  background: rgb(227, 12, 12);
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card3:hover .contentBx3 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
#Rectangle_4 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;

}
.Rectangle_4 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  max-width: 67.74rem;
  max-height: 33.12rem;
  min-width: 21.25rem;
  min-height: 8.25rem;
  left: 24rem;
  top: 55%;
  display: flex;
  flex-wrap: wrap;
  transition:transform 0.65s cubic-bezier(0.05,0.2, 0.1,1);
  box-shadow: 0.65s cubic-bezier(0.05,0.2, 0.1,1);
}
.Rectangle_4:hover{
box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
transform: translateY(-5px);
}
#Paragraphs-3 {
  position: absolute;
  overflow: visible;
  max-width: 64.98rem;
  min-width: 30rem;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(192,192,192,1);
  left: 25rem;
  top: 55.5%;
  display: flex;
  flex-wrap: wrap;
}
/* @media (max-width: 768px){
  .Rectangle_4{
   width: 21.25rem;
   height: 8.25rem;
  }
  #Paragraphs-3{
    width: 30rem;
    }
} */
@media screen and (max-width:550px){
  .about_wrapper .container #Rectangle_4{
    width: 51rem;
    height: 25rem;
  }
  .about_wrapper .container .Rectangle_4{
    top: 171rem;
    left: 10%;

    
  }
  .about_wrapper .container #Paragraphs-3{
    top:172rem;
    left: 11%;
    font-size: 0.9rem;
    width: 22rem;
    text-align: justify;
  
  }
  .about_wrapper .container .card3{
    left: 22rem;
    top: 69rem;
    margin-top: 50px;
    width: 16rem;
    height: 24rem;
  }
}

/*Info4  & Card4*/

.container .card4{
  position: relative;
  max-width: 19.2rem;
  height: 27rem;
  background: #ffffff;
  border-radius: 1.25rem;
  overflow: hidden;
  top: 58rem;
  left: 1rem;
}

.container .card4:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b50303;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card4:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card4:after{
  content: '.IEEE';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(12, 66, 131, 0.499);
}

.container .card4 .imgBx4{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card4:hover .imgBx4{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card4 .imgBx4 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 270px;
}

.container .card4 .contentBx4{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card4:hover .contentBx4{
  height: 210px;
}

.container .card4 .contentBx4 h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card4 .contentBx4 .size4, .container .card4 .contentBx4 .color4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card4:hover .contentBx4 .size4{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card4:hover .contentBx4 .color4{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card4 .contentBx4 .size4 h3, .container .card4 .contentBx4 .color4 h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card4 .contentBx4 .size4 span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card4 .contentBx4 .size4 span:hover{
  background: #9bdc28;
}

.container .card4 .contentBx4 .color4 span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card4 .contentBx4 .color4 span:nth-child(2){
  background: #9bdc28;
}

.container .card4 .contentBx4 .color4 span:nth-child(3){
  background: #03a9f4;
}

.container .card4 .contentBx4 .color4 span:nth-child(4){
  background: #e91e63;
}

.container .card4 .contentBx4 a{
  display: inline-block;
  padding: 10px 20px;
  background: rgb(227, 12, 12);;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card4:hover .contentBx4 a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
#Rectangle_5 {
  fill: rgba(0,36,54,1);
  stroke: rgba(118,68,255,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  max-height: 34.5rem;
}
.Rectangle_5 {
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  max-width: 67.74rem;
  max-height: 33.12rem;
  min-width: 21.25rem;
  min-height: 8.25rem;
  left: 24rem;
  top: 77%;
  transition:transform 0.65s cubic-bezier(0.05,0.2, 0.1,1);
  box-shadow: 0.65s cubic-bezier(0.05,0.2, 0.1,1);
}
.Rectangle_5:hover{
  box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
  transform: translateY(-5px);
}
#Paragraphs-4 {
  position: absolute;
  overflow: visible;
  max-width: 64.98rem;
  min-width: 30rem;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgba(192,192,192,1);
  left: 25rem;
  top: 77.5%;
}
/* @media (max-width: 768px){
  .Rectangle_5{
   width: 21.25rem;
   height: 8.25rem;
  }
  #Paragraphs-4{
    width: 30rem;
    }
} */
@media screen and (max-width:550px){
  .about_wrapper .container #Rectangle_5{
    width: 51rem;
    height: 25rem;
  }
  .about_wrapper .container .Rectangle_5{
    top: 232rem;
    left: 10%;

    
  }
  .about_wrapper .container #Paragraphs-4{
    top:233rem;
    left: 11%;
    font-size: 0.9rem;
    width: 22rem;
    text-align: justify;
  
  }
  .about_wrapper .container .card4{
    left: 22rem;
    top: 103rem;
    margin-top: 50px;
    width: 16rem;
    height: 24rem;
  }
}

/*Footer CSS*/

